html {
  background-color: #f4f4f4;
}

.svg-icon {
  position: relative;
  bottom: -0.125em;
  height: 1em;
  width: 1em;
}

/* TACHYONS CORRECTIONS */

.pointer {
  cursor: pointer;
}

.h10 {
  height: 10rem;
}
