.poll {
  width: 400px;
  text-align: center;
}

.poll .section {
  width: 50%;
  display: inline-block;
}

.poll .bar-container,
.poll .label div {
  width: 50%;
  display: inline-block;
}

.poll .bar-container {
  height: 100px;
  position: relative;
}

.poll .bar-container div {
  background-color: black;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
}
