html {
  background-color: #f4f4f4;
}

select {
  appearance: none;
  background: url(/assets/arrow-down.svg) 97% / 1rem no-repeat #eee;
}

.h10 {
  height: 10rem;
}

.svg-icon {
  position: relative;
  bottom: -0.175em;
  height: 1em;
  width: 1em;
}

.card {
  transition: all 0.25s ease-out;
}
.card:hover,
.card:focus {
  border-color: #CCCCCC;
  box-shadow: 0 4px 8px rgba(0,0,0,0.02);
}
.card:active {
  border-color: #AAAAAA;
  box-shadow: 0 -4px 8px rgba(0,0,0,0.02);
}

.shadow-6 {
  box-shadow: 0 4px 8px rgba(0,0,0,0.02);
}

/* TACHYONS CORRECTIONS */

.pointer {
  cursor: pointer;
}
