@import url('https://assets.initiativet.dk/fonts/clear-sans/css/clear-sans.css');

html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
a {
  cursor: pointer;
  color: inherit;
  text-decoration: none;
  transition: all 0.1s ease-in;
}
select {
  appearance: none;
  background: url(/assets/arrow-down.svg) 97% / 1rem no-repeat;
}
svg {
  position: relative;
  margin-bottom: -0.15em;
  height: 1em;
  width: auto;
}
.auth0-lock svg {
  bottom: 0;
  height: auto;
  width: auto;
}

/* COLORS */

.i-green {
  color: #42bfb4;
}
.bg-i-green {
  background-color: #42bfb4;
}
.b--i-green {
  border-color: #42bfb4;
}

.hover-i-green:hover {
  color: #47ccc0;
}
.hover-bg-i-green:hover {
  background-color: #47ccc0;
}

/* TACHYONS CORRECTIONS / ADDITIONS */

.clear-sans {
  font-family: 'Clear Sans', 'Roboto', -apple-system, BlinkMacSystemFont, 'Helvetica Neue', Helvetica, Ubuntu, Noto,
    'Segoe UI', Arial, sans-serif;
  letter-spacing: 0.02rem;
}
.blue {
  color: #0954b7;
}
.bg-blue {
  background-color: #0954b7;
}
.b--blue {
  border-color: #0954b7;
}
.hover-blue:hover,
.hover-blue:focus {
  color: #0954b7;
}
.hover-bg-blue:hover,
.hover-bg-blue:focus {
  background-color: #0954b7;
}
.pointer {
  cursor: pointer;
}
.cursor-default {
  cursor: default;
}
.ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.no-select {
  user-select: none;
}
.min-w12 {
  min-width: 12rem;
}
.bg-f9 {
  background-color: #f9f9f9;
}
.shadow-6 {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.025);
}
.shadow-7-hover {
  transition: box-shadow 0.25s ease-out;
}
.shadow-7-hover:hover {
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.075);
}

/* KÆMPE HØKERE */

.search-input {
  box-shadow: inset 0 0 0 1px #f4f4f4;
}
@media screen and (min-width: 60rem) {
  .sticky-l {
    position: sticky;
  }
  .top-4-l {
    top: 4rem;
  }
}

/* LOADING SPINNER */

.loading-spinner {
  width: 2rem;
  height: 2rem;
  display: block;
  margin: 0 auto;
  position: relative;
}

.loading-spinner svg {
  animation: loading-spinner;
  animation-duration: 800ms;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  transform-origin: 50% 50%;
  padding: 45%;
  width: 10%;
  height: 10%;
}

@keyframes loading-spinner {
  0% {
    transform: rotate(-180deg);
    padding: 45%;
    width: 10%;
    height: 10%;
  }
  50% {
    transform: rotate(0deg);
    padding: 0;
    width: 100%;
    height: 100%;
  }
  100% {
    transform: rotate(180deg);
    padding: 45%;
    width: 10%;
    height: 10%;
  }
}

.results-titel {
  font-weight: bold;
  margin-top: 20px;
}

.results svg {
  width: 30px;
  height: 30px;
  display: inline-block;
  vertical-align: middle;
}

.results svg:nth-of-type(1) {
  stroke: green;
}

.results svg:nth-of-type(2) {
  stroke: red;
}

.results-bar {
  display: inline-block;
  width: calc(100% - (2 * 30px));
  height: 30px;
  margin-top: 20px;
}

.results-bar span {
  display: inline-block;
  height: 30px;
  position: relative;
  border-radius: 3px;
  vertical-align: middle;
}

.results-bar span.winner {
  height: 35px;
}

.results-bar span div {
  text-align: center;
  margin-top: -20px;
  font-weight: bold;
}

.for-bar {
  background-color: green;
  color: green;
}

.blank-bar {
  background-color: grey;
  color: grey;
}

.against-bar {
  background-color: red;
  color: red;
}

.vote-results-percentage {
  color: rgba(0, 0, 0, 0.4);
  font-size: 12px;
  vertical-align: middle;
  margin-left: 5px;
  line-height: 18px;
}
