@import url('https://assets.initiativet.net/fonts/clear-sans/css/clear-sans.css');

html {
  -webkit-font-smoothing: antialiased;
}
a {
  cursor: pointer;
  color: inherit;
  text-decoration: none;
  transition: all 0.1s ease-in;
}
select {
  appearance: none;
  background: url(/assets/arrow-down.svg) 97% / 1rem no-repeat;
}
svg {
  position: relative;
  margin-bottom: -0.15em;
  height: 1em;
  width: auto;
}
.auth0-lock svg {
  bottom: 0;
  height: auto;
  width: auto;
}

/* COLORS */

.i-green {
  color: #42bfb4;
}
.bg-i-green {
  background-color: #42bfb4;
}
.b--i-green {
  border-color: #42bfb4;
}

.hover-i-green:hover {
  color: #47ccc0;
}
.hover-bg-i-green:hover {
  background-color: #47ccc0;
}

/* TACHYONS CORRECTIONS / ADDITIONS */

.clear-sans {
  font-family: 'Clear Sans', 'Roboto', -apple-system, BlinkMacSystemFont, 'Helvetica Neue', Helvetica, Ubuntu, Noto,
    'Segoe UI', Arial, sans-serif;
  letter-spacing: 0.02rem;
}
.blue {
  color: #0954b7;
}
.bg-blue {
  background-color: #0954b7;
}
.b--blue {
  border-color: #0954b7;
}
.hover-blue:hover,
.hover-blue:focus {
  color: #0954b7;
}
.hover-bg-blue:hover,
.hover-bg-blue:focus {
  background-color: #0954b7;
}
.pointer {
  cursor: pointer;
}
.cursor-default {
  cursor: default;
}
.ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.no-select {
  user-select: none;
}
.min-w12 {
  min-width: 12rem;
}
.bg-f9 {
  background-color: #f9f9f9;
}
.shadow-6 {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.025);
}

/* KÆMPE HØKERE */

.card {
  transition: all 0.25s ease-out;
}
.card:hover,
.card:focus {
  transform: translateY(-1px);
}
@media screen and (min-width: 60rem) {
  .sticky-l {
    position: sticky;
  }
  .top-4-l {
    top: 4rem;
  }
}

/* LOADING SPINNER */

.loading-spinner {
  width: 2rem;
  height: 2rem;
  display: block;
  margin: 0 auto;
  position: relative;
}

.loading-spinner svg {
  animation: loading-spinner;
  animation-duration: 800ms;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  transform-origin: 50% 50%;
  padding: 45%;
  width: 10%;
  height: 10%;
}

@keyframes loading-spinner {
  0% {
    transform: rotate(-180deg);
    padding: 45%;
    width: 10%;
    height: 10%;
  }
  50% {
    transform: rotate(0deg);
    padding: 0;
    width: 100%;
    height: 100%;
  }
  100% {
    transform: rotate(180deg);
    padding: 45%;
    width: 10%;
    height: 10%;
  }
}
