/* TAILWIND NORMALIZE */
@tailwind preflight;

/* CSS THAT NEED TO BE LOADED BEFORE TAILWIND CLASSES */

@import url('https://assets.initiativet.dk/fonts/clear-sans/css/clear-sans.css');

/* TAILWIND CLASSES */

@tailwind utilities;

/* CUSTOM CSS */

a {
  text-decoration: none;
}
a,
button {
  color: inherit;
  transition: 0.2s ease-out;
}
svg {
  position: relative;
  margin-bottom: -0.15em;
  height: 1em;
  width: auto;
}
.auth0-lock-container svg {
  margin-bottom: 0;
  height: auto;
}

.no-outline:focus {
  outline: none;
}

@responsive {
  .sticky {
    position: sticky;
  }
  .top-17 {
    top: 4.25rem;
  }
}

/* APPLIED CSS */

html {
  @apply .font-clear .text-black .leading-tight .antialiased;
}
p {
  @apply .text-grey-darkest .leading-normal .max-w-md .mb-4;
}
h1 {
  @apply .text-2xl .leading-normal .text-center .mt-8 .mb-4;
}
h2 {
  @apply .text-xl .mt-8 .mb-2;
}
h3 {
  @apply .text-lg .mt-4 .mb-2;
}
h4 {
  @apply .text-base;
}
