.menu-animation {
  animation: menuFadeIn 0.2s ease-out;
}

@keyframes menuFadeIn {
  0% {
    display: none;
    transform: translateY(-0.25rem);
    opacity: 0;
  }
  1% {
    display: block;
    transform: translateY(-0.25rem);
    opacity: 0;
  }
  100% {
    display: block;
    transform: translateY(0);
    opacity: 1;
  }
}
