#person {
  transition: all 0.2s ease-out;
}
#personal-menu {
  width: calc(100vw - 1rem);
}
#personal-menu,
#personal-menu-ns {
  animation: menuFadeIn 0.2s ease-out;
}
#personal-menu-ns {
  display: none;
}
#personal-menu-ns:hover,
#person-ns:hover ~ #personal-menu-ns {
  display: block;
}

@keyframes menuFadeIn {
  0% {
    display: none;
    opacity: 0;
  }
  1% {
    display: block;
    opacity: 0;
  }
  100% {
    display: block;
    opacity: 1;
  }
}
